/**
 * KCStar Project Base CSS file
 * created 2016-06-13
 */

@font-face {
  font-family: "Lyon";
  src: url(./fonts/LyonTextWeb-Regular.woff) format('woff');
}

@font-face {
  font-family: "Lyon";
  font-weight: bold;
  src: url(./fonts/McClatchySerif-Demi.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Sans";
  src: url(./fonts/McClatchySans-Regular.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Sans";
  font-weight: bold;
  src: url(./fonts/McClatchySans-Semibold.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Sans Cond";
  src: url(./fonts/McClatchySansCond-Semibold.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Slab";
  src: url(./fonts/McClatchySlab-Regular.woff) format('woff');
}

@font-face {
  font-family: "McClatchy Slab";
  font-weight: bold;
  src: url(./fonts/McClatchySlab-Semibold.woff) format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  color: #212121;
  background-color: white;
  font-family: "Lyon", serif;
  font-size: 19px;
}

/**
 * Typography
 */

a {
  text-decoration: none;
  color: #0093d0;
}

.slab {
  font-family: "McClatchy Slab", Georgia, serif;
}

.sans {
  font-family: "McClatchy Sans", Helvetica, sans-serif;
}

.sans-cond {
  font-family: "McClatchy Sans Cond", "Helvetica Condensed", Helvetica, sans-serif;
}

.mono {
  font-family: monospace;
}

.uppercase {
  text-transform: uppercase;
}

.center-text {
  text-align: center;
}

.light {
  font-weight: 200;
}

.gray {
  color: #999;
}

.uppercase {
  text-transform: uppercase;
}

.headline {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.kicker {
  display: block;
  margin: 0.25rem 0;
  color: #999;
  font-size: .75rem;
  font-weight: normal;
}

.action-link {
  display: block;
  margin: 2rem 0;
  color: #0093d0;
  font-size: 22px;
  font-weight: bold;
  font-family: "McClatchy Sans Cond", "Helvetica Condensed", Helvetica, sans-serif;
}

/**
 * Toolbar
 */

.toolbar {
  position: relative;
  background-color: #004B76;
  min-height: 64px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 28px;
  font-weight: normal;
  font-family: "McClatchy Sans Cond", sans-serif;
}

.toolbar a {
  color: #212121;
}

.toolbar a[title] {
  color: white;
  margin-left: 5px;
}

/**
 * Layout
 */

.max {
  display: block;
  max-width: 100%;
}

.cover {
  display: block;
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
}

.panel {
  position: relative;
  width: 720px;
  max-width: 100%;
  margin: 1rem auto;
  box-sizing: border-box;
  background-color: white;
}

.panel > :first-child {
  margin-top: 0;
}

.pad {
  box-sizing: border-box;
  padding: 0.5rem;
}

.tight > * {
  margin: 0.5rem 0;
}

.tight > :first-child {
  margin-top: 0;
}

.social-media {
  margin: 1rem 0;
}

.social-media > * {
  display: block;
  padding-right: 8px;
}

.card.flex {
  -ms-flex: 1 1 300px;
  -webkit-flex: 1 1 300px;
  flex: 1 1 300px;
}

.card img {
  display: block;
  max-width: 100%;
}

.card .social-media img {
  width: 32px;
}

/**
 * Mobile stuff
 */

@media (max-width: 769px) {
  .block-sm {
    display: block !important;
  }

  .headline {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .toolbar {
    font-size: 24px;
  }
}
