<!--
Graphic Stack
created 2016-01-11
© Copyright 2016 The Kansas City Star. All Rights Reserved.
-->

<dom-module id="graphic-stack">
  <template>
    <style>
      :host {
        display: block;
        margin: 2rem 0;
        font-family: 'McClatchy Sans',Helvetica,Arial,sans-serif !important;
      }

      :host([right]) {
        float: right;
        width: 50%;
        margin: 0 0 15px 15px;
      }

      :host([left]) {
        float: left;
        width: 50%;
        margin: 0 15px 15px 0;
      }

      :host ::content [mobile] {
        display: none;
      }

      :host ::content > * {
        margin: 0.5rem 0;
      }

      :host ::content :first-child {
        margin-top: 0;
      }

      :host ::content :last-child {
        margin-bottom: 0;
      }

      :host ::content img {
        display: block;
        max-width: 100%;
        margin: 0;
      }

      :host ::content h1 {
        font-family: 'McClatchy Slab','McClatchySlab',Georgia,Times,serif;
        font-size: 2rem;
        margin: 0.5rem 0;
      }

      :host ::content p {
        font-size: 13px !important;
        margin: 0.25rem 0;
      }

      @media (max-width: 991px) {
        :host {
          float: none !important;
          width: 100% !important;
          margin: 2rem 0 !important;
        }

        :host ::content [desktop] {
          display: none;
        }

        :host ::content [mobile] {
          display: block;
        }
      }

    </style>

    <content></content>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'graphic-stack'
  });
</script>
