<!--
Thumbnail Stack
created 2016-02-25
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">

<dom-module id="thumbnail-stack">
  <template>
    <style>
      :host {
        @apply(--layout-horizontal);
        margin: 1rem 0;
      }

      .thumbnail-stack-thumb {
        width: 200px;
        margin-right: 1rem;
      }

      .thumbnail-stack-thumb ::content img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      .thumbnail-stack-content {
        @apply(--layout-flex);
      }

      .thumbnail-stack-content > ::content * {
        margin: 0.5rem 0;
      }

      .thumbnail-stack-content > ::content :first-child {
        margin-top: 0 !important;
      }

      .thumbnail-stack-content > ::content :last-child {
        margin-bottom: 0 !important;
      }

      ::content p {
        font-size: 13px;
      }

      @media (max-width: 500px) {
        :host {
          display: block;
        }

        .thumbnail-stack-thumb {
          width: 100%;
          margin-right: 0;
        }
      }
    </style>

    <div class="thumbnail-stack-thumb">
      <content select="img"></content>
    </div>

    <div class="thumbnail-stack-content">
      <content></content>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'thumbnail-stack'
  });
</script>
